/* -------------------------------------------------------
    for techmix
------------------------------------------------------- */

.full-screen {
  max-height: 60vh;
}
.mb-0px{
    margin-bottom:0
}
.p-10px{
    padding-top:10px !important
}
.primary-bg-color{
    background-color: #F4F5F6;
}
.secondary-bg-focus-color{
    background-color: #00BCB5;
}
.bg-wh-color{
    background-color: #fff;
}
.opacity75{
    opacity: 75%;
}
table{
    width:100%
}
.biztrack-box{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(23, 23, 23, 0.15)
}
.biztrack-box img{
    max-width: 130px;
}
.client-box img{
    max-width: 90%;
}